.terms {
  margin: 0px 5rem;
  color: #333;
}
h1 {
  margin-bottom: 1rem !important;
}
p {
  margin-top: 0rem;
  margin-bottom: 1rem !important;
}
.first {
  padding-top: 2rem;
}
/* Mobile styles */
@media only screen and (max-device-width: 1024px) {
  .first {
    padding-top: 15rem;
  }
}
